<h1><%= @task.title %></h1>
<p><%= @task.details %></p>

<p><input type="checkbox" <%= "checked" if @task.completed %>>
  <% if @task.completed %>
    This task is completed
  <% else %>
    This task is not completed yet
  <% end %>
</p>

<br>
<%= link_to "Edit", edit_task_path %>
<%= link_to "Back to list", tasks_path %>

